/**
 * @file
 * Some CSS style alterings to make Course planner more pretty.
 */

div.view-display-id-cp_lessons_week div table caption
{
  font-size: 150%;
  border-top: thin black solid;
}

td.cp-date-weekday
{
  width: 10%;
}

td.views-field-cp-size
{
  width: 15%;
}

div.view-display-id-cp_lessons_week div.view-cp-section-resources caption
{
  font-size: medium;
  border-top: none;
}

div.view-display-id-cp_lessons_week .submitted
{
  display: none;
}

.region-header div.views-exposed-form #edit-reset
{
  display: none;
}

.region-header .view-display-id-cp_offering_jumpmenu
{
  margin-top: 25px;
}

div.fc-view-month td.fc-today
{
  border: thick red solid;
}

a.cp-disabled div.fc-event-skin
{
  background-color: salmon;
}

a.cp-disabled div.fc-event-skin span.fc-event-time
{
  background-color: salmon;
  border-color: salmon;
}
