/**
 * @file
 * Some CSS style alterings to make Course planner printouts more pretty.
 */

.region-header .view-display-id-cp_offering_jumpmenu,
div.views-exposed-form,
td.views-field-edit-node
{
  display: none;
}

div.view-display-id-cp_lessons_week table.views-table
{
  page-break-inside: avoid;
}

td.views-field-cp-lesson-date
{
  border: thin black solid;
}
